{% load querrystring %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Данные торгов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>

<form class="panel p-4" method="get">
    <h1 class="mb-3">Данные торгов <a class="btn btn-success" id="update" style="font-size: 10px" href="{% url 'parser' %}">обновить</a></h1>

    <div class="row g-3 mb-3">
        <div class="col-md-3 d-flex flex-column">
            <label for="{{ filter_form.date_from.id_for_label }}"
                   class="form-label">{{ filter_form.date_from.label }}</label>
            {{ filter_form.date_from }}
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label for="{{ filter_form.date_to.id_for_label }}"
                   class="form-label">{{ filter_form.date_to.label }}</label>
            {{ filter_form.date_to }}
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label for="{{ filter_form.price_from.id_for_label }}"
                   class="form-label">{{ filter_form.price_from.label }}</label>
            {{ filter_form.price_from }}
        </div>
        <div class="col-md-3 d-flex flex-column">
            <label for="{{ filter_form.price_to.id_for_label }}"
                   class="form-label">{{ filter_form.price_to.label }}</label>
            {{ filter_form.price_to }}
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label for="{{ filter_form.product.id_for_label }}"
                   class="form-label">{{ filter_form.product.label }}</label>
            {{ filter_form.product }}
            <a href="{% url 'add_product' %}" class="form-text">Добавить</a>
        </div>

    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <label for="{{ filter_form.instrument_codes.id_for_label }}"
                   class="form-label">{{ filter_form.instrument_codes.label }}</label>
            {{ filter_form.instrument_codes }}
        </div>
    </div>

    {% if filter_form.errors %}
        <div class="alert alert-danger mt-3">
            {{ filter_form.errors }}
        </div>
    {% endif %}

    <div class="d-flex align-items-center gap-2 flex-wrap">
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Сбросить</a>
        <span class="text-muted ms-2">Найдено: {{ page_obj.paginator.count }}</span>
    </div>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        {% for label in labels %}
        	<th class="table-primary"><a href="?{% qs request sort=label dir="max" page=1 current_sort=current_sort %}">{{ label }}</a></th>
        {% endfor %}
        
    </tr>
    </thead>


    <tbody>
    {% for r in rows %}
        <tr>
            <td class="nowrap">{{ r.instrument_code }} </td>
            <td>{{ r.instrument_name }}</td>
            <td>{{ r.delivery_basis }}</td>

            <td class="num">{{ r.contracts_count|default:"—" }}</td>
            <td class="num">{{ r.contracts_volume_rub|default:"—" }}</td>
            
            <td>{{ r.market_change_rub|default:"—" }}</td>
            <td>{{ r.market_change_pct|default:"—" }}</td>
            
            
            <td class="num">{{ r.min_price|default:"—" }}</td>
            <td class="num">{{ r.avg_price|default:"—" }}</td>
            <td class="num">{{ r.max_price|default:"—" }}</td>
            <td class="num">{{ r.market_price|default:"—" }}</td>
            
            <td>{{ r.best_offer|default:"—" }}</td>
            <td>{{ r.best_bid|default:"—" }}</td>
            
            <td>{{ r.contracts_count|default:"—" }}</td>

            <td class="nowrap">{{ r.date }}</td>
            <td class="nowrap">{{ r.product }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="10" class="muted">Нет данных по выбранным фильтрам.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pager">
    {% if page_obj.has_previous %}
        <a class="btn" href="?{% qs request page=1 %}">Первая</a>
        <a class="btn" href="?{% qs request page=page_obj.previous_page_number %}">Назад</a>
    {% endif %}

    <span class="muted">
      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a class="btn" href="?{% qs request page=page_obj.next_page_number %}">Вперёд</a>
        <a class="btn" href="?{% qs request page=page_obj.paginator.num_pages %}">Последняя</a>
    {% endif %}
</div>
</body>
</html>
